body {
    background-color: black;
}

.container {
    background-image: url('/Media/images/sunrise.jpg');
    height: 800px;
    display: flex;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  
}

.main {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    text-align: center;
}

#heading {
    width: 100%;
    align-content: center;
    color: black;
    text-align: center;
    font-family: 'Satisfy';
    font-size: 50px;

}


#btn {
    width: 10%;
    align-content: center;
    color: white;
    background-color: black;
    font-size: large;
    padding: 10px;
    border-radius: 1em;
}


#output {
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Kalam';
    font-size: 30px;
   

}